/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
.english-section {
  padding: clamp(20px, 4.167vw, 80px) 0;
}
.english-section__wrapp {
  position: relative;
  background-color: var(--violet-500);
  border-radius: clamp(20px, 3.906vw, 40px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  overflow: hidden;
}
@media (min-width: 1025px) {
  .english-section__wrapp {
    padding: clamp(40px, 3.125vw, 60px) 0;
    padding-left: clamp(20px, 4.167vw, 80px);
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
@media (max-width: 1024px) {
  .english-section__wrapp {
    padding: 40px 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
.english-section__bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  inset: 0;
}
.english-section__left {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media (min-width: 1025px) {
  .english-section__left {
    max-width: clamp(410px, 26.563vw, 510px);
  }
}
.english-section__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: clamp(15px, 2.93vw, 30px);
}
@media (min-width: 1025px) {
  .english-section__content {
    max-width: clamp(410px, 26.563vw, 510px);
  }
}
@media (max-width: 1024px) {
  .english-section__content {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
}
.english-section__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 10px;
}
.english-section__title {
  color: var(--white);
}
.english-section__subtitle {
  color: var(--light-blue);
}
.english-section__text {
  color: var(--grey-100);
}
.english-section__link {
  max-width: 400px;
}
.english-section__right {
  width: 100%;
  margin-right: -1px;
}
@media (min-width: 1025px) {
  .english-section__right {
    max-width: 720px;
  }
}
.english-section__slider {
  width: 100%;
}
@media (max-width: 1024px) {
  .english-section__slider {
    width: calc(100% + 20px);
  }
}
.english-section__slider .swiper-slide {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: auto;
}
.english-section__controls {
  margin-top: clamp(20px, 2.93vw, 30px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  gap: 10px;
}
@media (max-width: 576px) {
  .english-section__controls {
    padding-right: 20px;
  }
  .english-section__controls button:last-child {
    width: 100%;
  }
}
.english-section__controls .swiper-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 6px;
  background-color: var(--white);
  font-size: 14px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: -0.7px;
  color: var(--violet-500);
  border-radius: 46px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.english-section__controls .swiper-btn.swiper-button-prev {
  padding: 10px;
}
.english-section__controls .swiper-btn.swiper-button-next {
  padding: 10px 20px;
}
.english-section__controls .swiper-btn svg {
  fill: currentColor;
}
/*# sourceMappingURL=english-section.css.map */