.footer {
    position: relative;
    z-index: 5;
    padding: clamp(40px, 4.167vw, 80px) 0;
    background-color: var(--violet-100);

    &__wrapp {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: clamp(40px, 4.167vw, 80px);
    }

    &__top {
        width: 100%;
        display: flex;

        @include for-tablet {
            align-items: flex-start;
            justify-content: space-between;
            gap: clamp(30px, 2.778vw, 40px);
        }

        @include tablet {
            flex-direction: column;
            gap:40px;
        }
    }

    &__info {
        @include for-tablet {
            width: 100%;
            flex-shrink: 0;
            max-width: clamp(280px, 23.958vw, 345px);
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 30px;
        }

        @include tablet {
            display: grid;
            grid-template-columns: auto 1fr;
            gap: 15px clamp(20px, 3.906vw, 30px);

            .btn {
                grid-column: 1 / -1;
            }
        }
    }

    &__logo {
        max-width: clamp(135px, 25.13vw, 193px);
    }
    
    &__accreditation {
        max-width: 300px;
        font-size: clamp(13px, 2.344vw, 18px);
        line-height: 140%;
        font-weight: 500;
        color: var(--white);
    }

    &__box {
        @include for-tablet {
            width: fit-content;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            gap: clamp(20px, 6.25vw, 120px);
        }

        @include tablet {
            @include for-small-tablet {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 36px 20px;
            }
        }

        @include small-tablet{
            display: grid;
            grid-template-columns: repeat(2, 150px);
            gap: 40px;
        }
    }

    &__title {
        margin-bottom: clamp(15px, 1.953vw, 20px);
        font-size: clamp(18px, 2.734vw, 28px);
        line-height: 128%;
        font-weight: 500;
        letter-spacing: -1.4px;
        color: var(--white);
    }

    &__navigation {
        @include for-desktop  {
            ul {
                column-count: 2; 
                column-gap: 60px;
            }

            li + li {
                margin-top: 15px;
            }
        }

        @include desktop {
            ul {
                max-width: 200px;
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: clamp(10px, 1.953vw, 15px);
            }
    
            a {
                display: flex;
                flex-direction: column;
            }
        }
    }

    &__information {
        ul {
            max-width: 200px;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: clamp(10px, 1.953vw, 15px);

            a {
                display: flex;
                flex-direction: column;
            }
        }
    }

    &__menu {
        a {
            width: fit-content;
            font-size: clamp(14px, 1.758vw, 18px);
            line-height: 140%;
            font-weight: 500;
            letter-spacing: -0.9px;
            color: var(--white);

            p {
                font-size: clamp(12px, 1.367vw, 14px);
                font-weight: 500;
                line-height: 140%;
                letter-spacing: -0.7px;
                color: var(--grey-100);
            }
        }
    }

    &__socials {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__contacts {
        display: flex;

        @include for-laptop {
            flex-shrink: 0;
        }

        @include for-small-tablet {
            flex-direction: column;
            gap: clamp(20px, 3.906vw, 40px);
        }

        @include small-tablet {
            grid-column: 1 / -1;
            justify-content: space-between;

            & > div:first-of-type {
                order: 1;
            }
        }

        &-box {
            display: flex;
            flex-direction: column;
        }

        a {
            width: fit-content;
            font-size: clamp(14px, 1.758vw, 18px);
            line-height: 140%;
            font-weight: 500;
            letter-spacing: -0.9px;
            color: var(--white);
            

            svg {
                width: clamp(36px, 4.492vw, 46px);
                height: clamp(36px, 4.492vw, 46px);
            }
        }

        a + a {
            margin-top: clamp(10px, 1.953vw, 15px);
        }
    }

    &__bottom {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;

        &-left {
            display: flex;
            align-items: center;
            gap: clamp(5px, 2.604vw, 20px);
        }

        a,
        p {
            font-size: clamp(10px, 2.083vw, 12px);
            font-weight: 500;
            line-height: 140%;
            letter-spacing: -0.6px;
            color: var(--grey-100);
            transition: 0.3s ease-in-out;
        }

        @include hover {
            a {
                color: var(--white);
            }
        }
    }
}