.mobile {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  height: calc(100svh - var(--header-height));
  background: var(--bg-a);
  z-index: 10;
  overflow: hidden;
  transition: 0.3s ease;
  transform: translateX(110%);

  @include mobile {
    top: var(--header-height);
  }

  @include  for-tablet {
    display: contents;
  }

  &.active {
    display: flex;
    transform: translateX(0);
  }

  &__box {
    padding: 16px 16px 24px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    @include for-tablet {
      display: contents;
    }
  }
}
