.article-card {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: clamp(15px, 2.604vw, 20px);

    &__thumbnail {
        display: flex;
        border-radius: 18px;
        overflow: hidden;

        @include for-tablet {
            aspect-ratio: 467 / 235;
        }

        picture,
        img {
            width: 100%;
            height: 100%;
            object-fit: cover
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__title {
        font-size: clamp(16px, 2.344vw, 18px);
        font-weight: 600;
        line-height: 140%;
        letter-spacing: -0.9px;
        color: var(--violet-300);
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    &__excerpt {
        font-size: clamp(14px, 2.083vw, 16px);
        font-weight: 500;
        line-height: 140%;
        letter-spacing: -0.8px;
        color: var(--grey-500);
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;                
    }

    &__details {
        margin-top: 10px;
        display: flex;
        align-items: center;
        gap: 20px;

        li {
            display: flex;
            align-items: center;
            gap: 6px;

            p {
                font-size: clamp(14px, 2.083vw, 16px);
                font-weight: 500;
                line-height: 140%;
                letter-spacing: -0.8px;
                color: var(--grey-500);
            }
        }
    }
}