.english-level {
    height: 100%;
    position: relative;
    background-color: var(--white);
    border-radius: 40px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    &__ages {
        position: absolute;
        top: 20px;
        right: 20px;
        padding: 8px 10px;
        background-color: var(--light-blue);
        border-radius: 56px;
        font-size: 16px;
        font-weight: 600;
        line-height: 140%;
        letter-spacing: -0.8px;
    }

    &__image {
        max-height: 258px;
        display: flex;
        align-items: center;
        justify-content: center;

        picture,
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__info {
        flex-grow: 1;
        max-width: 325px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        text-align: center;

        p {
            font-weight: 600;
            color: var(--grey-500);
        }
    }

    &__link {
        align-self: stretch;
        height: 44px;
        padding: 0;
        gap: 4px;
    }


    @include mobile {
        position: relative;

        &[data-mob-button] {
            &::before {
                content: attr(data-mob-button);
                position: absolute;
                bottom: 40%;
                left: 50%;
                transform: translateX(-50%);
                padding: 13px 35px;
                background-color: var(--bg-a);
                border-radius: 50px;
                font-size: 20px;
                line-height: 100%;
                font-weight: 500;
                color: var(--cl-b);
                transition: all .3s ease;
        
                &:hover,
                &:active {
                    background-color: var(--bg-c);
                    color: var(--white);
                }
            }
            
        }
    }
}
