.news-card {
    padding: clamp(20px, 1.563vw, 30px);
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: var(--white);
    border-radius: clamp(20px, 1.667vw, 32px);

    @include mobile {
        flex-direction: column;
    }

    &__thumbnail {
        flex-shrink: 0;
        display: flex;
        border-radius: 18px;
        overflow: hidden;
        aspect-ratio: 265 / 202;

        picture,
        img {
            width: 100%;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 13.5px;
    }

    &__tags {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 6px;

        li {
            padding: clamp(6px, 0.521vw, 10px) clamp(10px, 0.781vw, 15px);
            border-radius: 46px;
            font-size: clamp(12px, 0.938vw, 18px);
            font-weight: 600;
            line-height: 140%;
            letter-spacing: -0.6px;
            border: 1px solid #C3C0E6;
            background: #DEDBFF;
            color: var(--violet-500);

            &:first-child {
                border: 1px solid #D6C1E3;
                background: #EFDDFA;
                color: var(--violet-100);
            }
        }
    }

    &__title {
        font-size: clamp(16px, 1.458vw, 28px);
        line-height: 128%;
        font-weight: 600;
        letter-spacing: calc(-1px * clamp(0.8px, 0.073vw, 1.4px));
        color: var(--violet-500);
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    &__details {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 5px 20px;

        li {
            display: flex;
            align-items: center;
            gap: 6px;

            p {
                font-size: clamp(14px, 2.083vw, 16px);
                font-weight: 500;
                line-height: 140%;
                letter-spacing: -0.8px;
                color: var(--grey-500);
            }
        }
    }

    &__descr {
        font-size: clamp(14px, 1.042vw, 20px);
        font-weight: 500;
        line-height: 140%; /* 28px */
        letter-spacing: calc(-1px * clamp(0.7px, 0.052vw, 1px));
        color: var(--grey-500);
    }
}