.offer-card {
    position: relative;
    display: flex;
    align-items: center;
    gap: clamp(12px, 1.953vw, 20px);

    &__promo {
        min-height: 110px;
        position: relative;
        width: 100%;
        background-color: var(--violet-100);
        border-radius: 18px;
        flex-shrink: 0;

        @include for-mobile {
            max-width: 170px;
            padding: 13px;
        }

        @include mobile {
            max-width: 175px;
            padding: 15px;
        }
    }

    &__details {
        display: flex;
        flex-direction: column;
        gap: 3px;

        @include for-mobile {
            max-width: 65px;

            & > p {
                font-size: 16px;
                line-height: 100%;
                font-weight: 600;
                letter-spacing: -0.5px;
            }

            & > span {
                font-size: 10px;
                letter-spacing: -0.5px;
            }
        }

        @include mobile {
            max-width: 95px;

            & > p {
                font-size: 16px;
                line-height: 120%;
                font-weight: 600;
                letter-spacing: -0.5px;

                span {
                    font-size: 36px;
                }
            }

            & > span {
                font-size: 16px;
                letter-spacing: -0.8px;
            }
        }

        & > p {
            color: var(--white);

            span {
                color: var(--white);
                line-height: 100%;
            }
        }

        & > span {
            line-height: 100%;
            font-weight: 600;
            color: var(--yellow);
        }
    }

    &__icon {
        position: absolute;
        display: flex;
        width: clamp(72px, 13.281vw, 102px);
        height: clamp(72px, 12.5vw, 96px);

        @include for-mobile {
            right: 0;
            bottom: 0;
        }

        @include mobile {
            top: 10px;
            right: 0;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 13px;
    }

    &__title {
        font-size: clamp(16px, 2.344vw, 18px);
        font-weight: 600;
        line-height: 140%;
        letter-spacing: -0.9px;
        color: var(--violet-300);
    }

    &__avaliable {
        display: flex;
        align-items: center;
        gap: 6px;

        & > span {
            display: flex;
        }

        & > p {
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 140%; /* 22.4px */
            color: var(--grey-500);
        }
    }
}