.search-form {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 6px;

    @include for-tablet {
        max-width: 583px;
    }

    &__label {
        width: 100%;
        position: relative;
        display: flex;
        height: clamp(46px, 3.611vw, 52px);
    }

    &__icon {
        position: absolute;
        left: 18px;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        color: var(--grey-500);
    }

    &__input {
        height: clamp(46px, 3.611vw, 52px);
        padding: clamp(13px, 1.042vw, 15px) clamp(13px, 1.042vw, 15px) clamp(13px, 1.042vw, 15px) 50px;
        display: flex;
        align-items: center;
        border-radius: 56px;
        background-color: var(--white);
        border: 1px solid var(--grey-100);
        font-family: var(--font-primary);
        font-size: 14px;
        line-height: 140%;
        font-weight: 400;
        color: var(--black);
    }

    &__btn {
        flex-shrink: 0;
        height: clamp(46px, 3.611vw, 52px);
        width: clamp(46px, 3.611vw, 52px);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 26px;
        background-color: var(--violet-100);
        color: var(--white);
    }
}