@import "../../general/mixins";

.archive-section {
    &__wrapp {
        padding: clamp(40px, 4.167vw, 80px) 0 clamp(20px, 4.167vw, 80px);
        display: flex;
        flex-direction: column;
        gap: clamp(20px, 2.083vw, 40px);
    }

    &__title {
        @include mobile {
            font-size: 32px;
            text-align: center;
        }
    }

    &__box {
        display: grid;
        gap: clamp(20px, 1.563vw, 30px);

        @include for-tablet {
            grid-template-columns: 1fr clamp(525px, 30.625vw, 588px);
        }

        @include tablet {
            grid-template-columns: 100%;
        }
    }

    &__main {
        .news-card {
            padding: 0;
            background-color: transparent;
            display: flex;
            flex-direction: column;
            gap: clamp(15px, 1.563vw, 30px);
        }

        .news-card__thumbnail {
            width: 100%;
            aspect-ratio: 832 / 430;

            picture,
            img {
                width: 100%;
                height: 100%;
            }
        }

        .news-card__top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap-reverse;
            gap: 15px;
        }

        .news-card__title {
            font-size: 32px;
            line-height: 118%; /* 37.76px */
            letter-spacing: -1.6px;
            color: var(--violet-300);
        }
    }

    &__promos {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__promo {
        position: relative;
        overflow: hidden;
        padding: clamp(20px, 1.563vw, 30px);
        background-color: var(--violet-100);
        box-shadow: 0 0 25px 0 rgba(37, 37, 37, 0.06);
        border-radius: clamp(20px, 1.667vw, 32px);
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 20px;

        &-bg {
            position: absolute;
            top: 0;
            right: 0;
            width: 230px;
            width: clamp(150px, 11.979vw, 230px);
            height: 230px;          
        }

        &-image {
            position: absolute;
        }

        &-label {
            width: fit-content;
            padding: 10px 15px;
            padding: clamp(6px, 0.521vw, 10px) clamp(10px, 0.781vw, 15px);
            border-radius: 46px;
            font-size: clamp(12px, 0.938vw, 18px);
            font-weight: 600;
            line-height: 140%;
            letter-spacing: -0.6px;
            border: 1px solid #D6C1E3;
            background: #EFDDFA;
            color: var(--violet-100);
        }

        &-info {
            max-width: clamp(195px, 45.313vw, 348px);
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 10px;

            & > span {
                color: var(--white);
            }

            & > p {
                color: var(--grey-100);
            }
        }

        &-link {
            padding: clamp(13px, 2.604vw, 20px) 0;
        }

    }
}