@import "../../general/mixins";

.camp-booking {
  padding: clamp(20px, 4.167vw, 80px) 0;

  &__wrapp {
    display: flex;
    flex-direction: column;
    gap: clamp(20px, 3.125vw, 60px);
  }

  &__title {
    text-align: center;
  }

  &__bottom {
    color: var(--grey-500);
    text-align: center;
  }

  &__content {
    display: grid;
    gap: 20px;

    @include for-tablet {
      grid-template-columns: 1fr 40%;
    }

    @include tablet {
      grid-template-columns: 100%;
    }
  }

  &__benefits {
    position: relative;
    padding: clamp(20px, 2.083vw, 40px);
    border-radius: 30px;
    background-color: var(--light-blue);

    @include tablet {
      padding-bottom: 110px;
    }

    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: clamp(15px, 1.953vw, 20px);
    }

    li {
      color: var(--violet-500);
      font-size: clamp(18px, 2.344vw, 24px);
      font-weight: 600;
      line-height: 1.2;
    }
  }

  &__box {
    padding: clamp(20px, 2.083vw, 40px) clamp(20px, 4.167vw, 80px) clamp(20px, 2.083vw, 40px) clamp(20px, 2.083vw, 40px);
    position: relative;
    z-index: 1;
    background: var(--white);
    border-radius: 16px;
  }

  &__pricing {
    margin-bottom: clamp(20px, 2.778vw, 40px);
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    & > span {
      font-size: clamp(20px, 2.396vw, 46px);
      line-height: 118%;
      font-weight: 700;
      letter-spacing: -2.3px;
      color: var(--violet-100);
    }

    &-details {
      display: flex;
      align-items: center;
      gap: 20px;

      & > span {
        color: #E63417;
      }

      & > p {
        font-size: clamp(16px, 1.563vw, 30px);
        font-weight: 500;
        line-height: 118%; /* 35.4px */
        letter-spacing: -1.5px;
        text-decoration-line: line-through;
        color: var(--grey-500);
      }
    }
  }

  &__characters {
    position: absolute;
    z-index: 2;
    width: clamp(164px, 14.375vw, 276px);
    height: clamp(111px, 9.115vw, 175px);

    @include for-tablet {
      right: -38px;
      bottom: -24px;
    }

    @include tablet {
      right: 16px;
      bottom: 16px;
    }

    img {
      object-fit: contain;
    }
  }

  &__bg {
    position: absolute;
    inset: 0;
    display: flex;

    img {
      border-radius: 30px;
    }
  }

  &__form {
    width: 100%;
    padding: clamp(20px, 2.083vw, 40px);
    border-radius: 30px;
    background-color: var(--violet-100);
    justify-content: center;
  }
}
