@import "../../general/mixins";

.camp-highlights {
  overflow: hidden;
  padding: clamp(20px, 4.167vw, 80px) 0;

  &__wrapp {
    display: flex;
    flex-direction: column;
    gap: clamp(20px, 3.125vw, 60px);
  }

  &__title {
    text-align: center;
  }

  &__slider {
    position: relative;

    @include for-tablet {
      width: 100%;

      .swiper-wrapper {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: clamp(10px, 1.389vw, 20px);
      }
    }

    @include tablet {
      width: 100vw;
    }
  }

  &__pattern {
    top: -80px;
    position: absolute;
    display: flex;
    width: clamp(260px, 25vw, 360px);
    height: clamp(85px, 9.375vw, 135px);

    @include small-tablet {
      display: none;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__item {
    max-width: 223px;
    width: 100%;
    min-height: clamp(275px, 19.097vw, 300px);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    padding: 20px 16px;
    background: var(--white);
    border-radius: 18px;
    box-shadow: 0 0 25px 0 rgba(37, 37, 37, 0.06);

    &::before {
      position: absolute;
      z-index: 0;
      top: 0;
      right: 0;
      width: 210px;
      height: 201px;
      background: url("../img/camps/camps-bg.svg") no-repeat 0 0 / 210px 201px;
      content: "";
    }

    p {
      position: relative;
      z-index: 2;
    }
  }

  &__character {
    position: absolute;
    z-index: 1;
    display: flex;

    &--one {
      top: 21px;
      right: 20px;
    }

    &--two {
      top: 36px;
      right: 12px;
    }

    &--three {
      top: 36px;
      right: 12px;
    }

    &--four {
      top: 36px;
      right: 12px;
    }

    &--five {
      top: 30px;
      right: 30px;
    }

    &--six {
      left: 0;
      top: 0;
    }
  }
}
