@import "../../general/mixins";

.camp-booking {
  padding: clamp(20px, 4.167vw, 80px) 0;

  &__wrapp {
    display: flex;
    flex-direction: column;
    gap: clamp(20px, 3.125vw, 60px);
  }

  &__title {
    text-align: center;
  }

  &__content {
    display: grid;
    gap: 20px;

    @include for-tablet {
      grid-template-columns: 1fr 40%;
    }

    @include tablet {
      grid-template-columns: 100%;
    }
  }

  &__benefits {
    position: relative;
    padding: clamp(20px, 2.083vw, 40px);
    border-radius: 30px;
    background-color: var(--light-blue);

    @include tablet {
      padding-bottom: 110px;
    }

    ul {
      padding: clamp(20px, 2.083vw, 40px) clamp(20px, 4.167vw, 80px) clamp(20px, 2.083vw, 40px) clamp(20px, 2.083vw, 40px);
      position: relative;
      z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: clamp(15px, 3.906vw, 40px);
      background: var(--white);
      border-radius: 16px;
    }

    li {
      color: var(--violet-500);
      font-size: clamp(18px, 2.344vw, 24px);
      font-weight: 600;
      line-height: 1.2;
    }
  }

  &__characters {
    position: absolute;
    z-index: 2;
    width: clamp(164px, 14.375vw, 276px);
    height: clamp(111px, 9.115vw, 175px);

    @include for-tablet {
      right: -38px;
      bottom: -24px;
    }

    @include tablet {
      right: 16px;
      bottom: 16px;
    }

    img {
      object-fit: contain;
    }
  }

  &__bg {
    position: absolute;
    inset: 0;
    display: flex;

    img {
      border-radius: 30px;
    }
  }

  &__form {
    width: 100%;
    padding: clamp(20px, 2.083vw, 40px);
    border-radius: 30px;
    background-color: var(--violet-100);
    justify-content: center;
  }
}
