@import "../../general/mixins";

.faq-section {
    padding: clamp(32px, 4.444vw, 64px) 0;

    &__wrapp {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: clamp(24px, 3.125vw, 32px);
    }

    .accordion {
        max-width: 954px;
        width: 100%;
    }
}