@import "../../general/mixins";

.news-section {
    padding: clamp(20px, 4.167vw, 80px) 0;
    background-color: #F8F7FF;

    &__wrapp {
        display: flex;
        flex-direction: column;
        gap: clamp(20px, 2.778vw, 40px);
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }

    &__btn {
        width: fit-content;
        flex-shrink: 0;
    }

    &__items {
        display: grid;
        gap: 20px;

        @include for-tablet {
            grid-template-columns: repeat(2, 1fr);
        }

        @include tablet {
            grid-template-columns: 100%;
        }
    }

}