@import "../../general/mixins";

.offers-section {
    padding: clamp(20px, 4.167vw, 80px) 0;
    background-color: #F8F7FF;

    &__wrapp {
        display: flex;
        flex-direction: column;
        gap: clamp(20px, 2.778vw, 40px);
    }

    &__items {
        display: grid;
        align-items: stretch;
        gap: 20px;

        @include for-desktop {
            grid-template-columns: repeat(3, 1fr);
        }

        @include desktop {
            @include for-tablet {
                grid-template-columns: repeat(2, 1fr);
            }
        }

        @include tablet {
            grid-template-columns: 100%;
        }
    }
}