@import "../../general/mixins";

.partners-section {
    padding: clamp(40px, 7.813vw, 80px) 0;

    &__wrapp {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: clamp(20px, 3.906vw, 40px);
    }

    &__gallery {
        display: grid;
        gap: 20px;

        @include for-small-tablet {
            grid-template-columns: repeat(4, 1fr);
        }

        @include small-tablet {
            grid-template-columns: repeat(2, 1fr);
        }

        li {
            display: flex;
            padding: 0 20px;
        }
    }
}