@import "../../general/mixins";

.test-section {
    padding: clamp(20px, 4.167vw, 80px) 0;

    &__wrapp {
        position: relative;
        padding: clamp(20px, 3.125vw, 60px) clamp(20px, 6.25vw, 120px) clamp(20px, 3.125vw, 60px) clamp(20px, 4.167vw, 80px);
        background-color: var(--violet-500);
        border-radius: clamp(20px, 2.083vw, 40px);
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        gap: 10px 20px;

        @include mobile {
            flex-direction: column;
            align-items: center;
        }
    }

    &__bg {
        display: flex;
        position: absolute;
        inset: 0;
        pointer-events: none;
    }

    &__left {
        display: flex;
        justify-content: center;
    }

    &__content {
        max-width: 725px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: clamp(15px, 3.906vw, 30px);

        @include mobile {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }

    &__box {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__title {
        color: var(--white);
    }

    &__subtitle {
        color: var(--light-blue);
    }

    &__text {
        color: var(--white);
    }

    &__link {
        max-width: 400px;
    }

    &__right {
        position: relative;
        z-index: 1;

        @include mobile {
            padding: 0 30px;
        }
    }

    &__image {
        max-width: 400px;
        display: flex;
        justify-content: center;
    }
}
