.accordion{
    display: flex;
    flex-direction: column;
    gap: 30px;

    &__item{
        display: flex;
        flex-direction: column;
        padding-bottom: 30px;
        border-bottom: 1px solid var(--grey-100);
    }

    &__btn {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        text-align: left;
        transition: all .3s ease;

        span {
            display: flex;

            svg {
                fill: var(--cl-g);
            }
        }

        &.active{
            &.h5 {
                color: var(--violet-100);
            }
            .accordion__btn-icon {
                transform: scale(-1);
            }
        }
    }

    .editor {
        padding-top: 22px;
        max-width: 832px;
    }
}