.tags {
    display: flex;
    align-items: center;
    gap: 10px;

    li {
        padding: 10px 15px;
        border-radius: 46px;
        font-size: 18px;
        font-weight: 600;
        line-height: 140%;
        letter-spacing: -0.6px;
        border: 1px solid #D6C1E3;
        background: #EFDDFA;
        color: var(--violet-100);
    }
}