.btn {
  width: 100%;
  padding: clamp(12px, 1.111vw, 16px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  border-radius: 12px;
  font-family: var(--font-primary);
  font-size: clamp(14px, 1.111vw, 16px);
  line-height: 140%;
  font-weight: 600;
  letter-spacing: -0.8px;

  &--yellow {
    background-color: var(--yellow);
    color: var(--violet-300);
  }

  &--violet {
    background-color: var(--violet-100);
    color: var(--white);
  }

  &--green {
    background-color: var(--green);
    color: var(--white);
  }

  &--white {
    background-color: var(--white);
    color: var(--violet-300);
  }

  &--bordered {
    background-color: var(--white);
    border: 1px solid var(--green);
    color: var(--green);
  }

  &--bordered-violet {
    background-color: var(--white);
    border: 1px solid var(--violet-100);
    color: var(--violet-100);
  }
}