.logo{
  display: flex;

  svg,img{
    height: auto;
  }
}

h1,
.h1 {
  font-size: clamp(36px, 4.167vw, 60px);
  line-height: 115%;
  font-weight: 700;
  letter-spacing: calc(-1 * clamp(1.8px, 0.208vw, 3px));
  color: var(--violet-500);
}

h2,
.h2 {
  font-size: clamp(32px, 3.889vw, 56px);
  line-height: 118%;
  font-weight: 700;
  letter-spacing: calc(-1 * clamp(1.6px, 0.194vw, 2.8px));
  color: var(--violet-500);
}

h3,
.h3 {
  font-size: clamp(30px, 2.396vw, 46px);
  line-height: 118%;
  font-weight: 700;
  letter-spacing: -2.3px;
  color: var(--violet-500);
}

h4,
.h4 {
  font-size: clamp(18px, 1.944vw, 28px);
  line-height: 128%;
  font-weight: 600;
  letter-spacing: -1.4px;
  color: var(--violet-500);
}

h5,
.h5 {
  font-size: clamp(16px, 1.389vw, 20px);
  line-height: 140%;
  font-weight: 600;
  letter-spacing: -1px;
  color: var(--violet-500);
}