:root {
  // --------------- default global variables ---------------
  --body-font-size: clamp(12px, 2.083vw, 16px);
  --content-width: 1440px;
  --content-width-mode: 1920px;
  --content-width-mini: 952px;

  --container-offset: clamp(16px, 5.859vw, 60px);
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

    // --------------- default JS variables ---------------
    --header-height: 125px;
 
    @include tablet{
      --header-height: 110px;
    }

    @include mobile {
      --header-height: 190px;
    }

  // --------------- default font-family variables ---------------

  --font-primary: "Montserrat", sans-serif; // var(--font-primary);

  // --------------- default text color variables ---------------
  --white: #ffffff; // var(--white);
  --black: #000000; // var(--black);

  --grey-100: #D0D0D0; // var(--grey-100);
  --grey-500: #858585; // var(--grey-500);
  --light-blue: #DDF0FB; // var(--light-blue);
  --violet-500: #29235C; // var(--violet-500);
  --violet-300: #2F2535; // var(--violet-300);
  --violet-100: #602B7A; // var(--violet-100);

  --green: #95C11F; // var(--green);

  

  --cl-g: #2C8132; // var(--cl-g);
  --cl-h: #0F0F0F; // var(--cl-h);
  --cl-i: #43B94B; // var(--cl-i);
  --cl-k: #F8F8F8; // var(--cl-k);
  --cl-l: #9F9F9F; // var(--cl-l);
  --cl-m: #8ED593; // var(--cl-m);
  --cl-n: #575757; // var(--cl-n);

  // --------------- default background color variables ---------------
  --bg-a: #ffffff; // var(--bg-a);
  --bg-b: #000000; // var(--bg-b);
  
 
  --yellow: #FFD631; // var(--yellow);


  --bg-d: #FFDD00; // var(--bg-d);
  --bg-e: #EEEEEE; // var(--bg-e);
  --bg-f: #FF2F00; // var(--bg-f);
  --bg-g: #43B94B; // var(--bg-g);
  --bg-h: #ECF8ED; // var(--bg-h);
  --bg-i: #F8F8F8; // var(--bg-i);
  --bg-k: #343434; // var(--bg-k);

  // --------------- default border color variable ---------------
  --br-a: #ffffff; // var(--br-a);
  --br-b: #FFDD00; // var(--br-b);
  --br-c: #43B94B; // var(--br-c);
  --br-d: #B4E3B7; // var(--br-d);
  --br-e: #2C8132; // var(--br-e);
  --br-f: #eeeeee; // var(--br-f);
  --br-g: #D9F1DB; // var(--br-g);
  --br-h: #B7B7B7; // var(--br-h);
}       


