:root {
  // --------------- default global variables ---------------
  --body-font-size: clamp(12px, 2.083vw, 16px);
  --content-width: 1440px;
  --content-width-mode: 1920px;
  --content-width-mini: 952px;

  --container-offset: clamp(16px, 5.859vw, 60px);
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

    // --------------- default JS variables ---------------
    --header-height: 138px;
 
    @include tablet{
      --header-height: 130px;
    }

    @include mobile {
      --header-height: 127px;
    }

  // --------------- default font-family variables ---------------

  --font-primary: "Montserrat", sans-serif; // var(--font-primary);

  // --------------- default text color variables ---------------
  --white: #ffffff; // var(--white);
  --black: #000000; // var(--black);

  --grey-100: #D0D0D0; // var(--grey-100);
  --grey-500: #858585; // var(--grey-500);
  --light-blue: #DDF0FB; // var(--light-blue);
  --violet-500: #29235C; // var(--violet-500);
  --violet-300: #2F2535; // var(--violet-300);
  --violet-100: #602B7A; // var(--violet-100);


  --yellow: #FFD631; // var(--yellow);

  --green: #95C11F; // var(--green);


  // --------------- default background color variables ---------------
  --bg-a: #ffffff; // var(--bg-a);
  --bg-b: #000000; // var(--bg-b);
  
 


}       


